body {
    background-color: #F6E1C3;
}

button {
    background-color: #372948;
    color: #FFECEF; /* Pink text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    text-align: center;
  }

* {
    padding: 0;
    margin: 0;
}

.navbar-brand img {
    width:200px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2PX;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.nav-link {
    color: #F6E1C3;
    font-family: Leelawadee UI;
    font-size: 2vw;
}

.banner {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #A84448;
    height: 100px;
}

.carousel-item {
    height: 32rem;
    background: black;
    position: relative;
    color: white;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 25px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

footer {
    font-family: Muli;
}

.bckgrd {
    background-color: #FFCACA;
  }

  h1, h3 {
    color: #251B37;
    text-align: center;
  }

  p {
    font-size: 1vw;
  }

  h4 {
    font-size: 1.5vw;
  }

  .row {
    line-height: .5;
  }






